/* Import TailwindCSS */
@import "tailwindcss";

/* Base TailwindCSS Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html, body {
  @apply bg-black text-white; /* Set global background and text color */
}

/* Scrollbar Styles */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Match navbar height */
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: black; /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Scrollbar thumb color */
  border-radius: 10px;
  border: 2px solid black; /* Optional separation */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ccc; /* Hover effect for scrollbar thumb */
}

* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #007bff black; /* Thumb color, track color */
}

/* Hover Effect for Scrollbar */
.container:hover::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5;
  box-shadow: 0 0 6px #4f46e5;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4f46e5, #38bdf8); /* Gradient scrollbar thumb */
}

/* Animation Utilities */
@layer utilities {
  @keyframes scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

  .group-hover\:paused {
    animation-play-state: paused;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientMove 15s ease infinite;
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}

/* Carousel Styles */
.slick-dots li button:before {
  color: #fff; /* Dots color */
}

.slick-prev, .slick-next {
  color: #fff; /* Arrow color */
}

/* Preline.js Styles */
@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";