@import "tailwindcss";

html, body {
  @apply bg-black text-white; /* Using Tailwind's @apply instead of direct CSS */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

  .group-hover\:paused {
    animation-play-state: paused;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientMove 15s ease infinite;
}


.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Match navbar height */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
